* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	line-height: 1;
	overflow-x: auto;
	width: 100%;
}

ol,
ul {
	list-style: none;
}

li,
dd {
	list-style-type: inherit;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
	display: block;
}

img {
	border: none;
	vertical-align: bottom;
}

a {
	cursor: pointer;
	text-decoration: none;
}

*:focus {
	outline: none;
}

body {
	background-color: #FFFFFF;
	color: #555555;
	font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", Meiryo, sans-serif;
	font-weight: 300;
	letter-spacing: 0.2em;
	overflow-wrap: break-word;
	overflow-x: hidden;
}

img {
	height: auto;
	width: 100%;
}

a {
	color: #555555;
	display: inline-block;
}

.inner {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	margin: 0 auto;
	max-width: 1100px;
}

.sec-tit {
	font-family: Courier New, Courier, Arial;
	letter-spacing: 0.4em;
	line-height: 1.2;
	text-align: center;
}

.sec-img {
	background-position: center center;
	background-size: cover;
}

._ls0 {
	letter-spacing: 0;
}

input,
textarea,
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-weight: 300;
	width: 100%;
}

input::-ms-expand,
textarea::-ms-expand,
select::-ms-expand {
	display: none;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
	-webkit-box-shadow: none;
	border-bottom-color: #EFE4E1;
	box-shadow: none;
	outline: none;
}

input,
select {
	border: none;
	border-bottom: 1px solid #D0D0D0;
}

input,
textarea {
	font-size: 16px;
	padding: 0.4em 1.2em;
}

select {
	color: #EFE4E1;
	font-size: 14px;
	letter-spacing: 0.1em;
}

option {
	color: #555555;
}

textarea {
	border: none;
	border: 1px solid #D0D0D0;
	margin-top: 28px;
	resize: vertical;
}

.form-btn input {
	-webkit-appearance: none;
	background-image: none;
	border-radius: 0;
	display: inline-block;
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.form-btn input:hover {
	outline: none;
}

.form-btn input::-moz-focus-inner {
	border: none;
	padding: 0;
}

.footer {
	background-color: #EFE4E1;
}

.footer .inner {
	text-align: center;
}

.footer-btn > * {
	background-color: #FFFFFF;
	font-size: 14px;
	line-height: 1.714;
	max-width: 100%;
	padding-bottom: 33px;
	padding-top: 34px;
	text-align: center;
	width: 598px;
}

.footer-btn > * > span {
	display: block;
	font-family: Courier New, Courier, Arial;
	font-size: 25px;
	letter-spacing: 0.4em;
	line-height: 1;
}

.footer-btn > * > small {
	display: block;
	font-size: 14px;
	letter-spacing: 0.1em;
	line-height: 1;
	margin-top: 8px;
}

.footer-logo a {
	width: 155px;
}

.footer-copy {
	font-family: Courier New, Courier, Arial;
	letter-spacing: 0.1em;
}

.header {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
}

.header._show .header-bg {
	display: block;
}

.header._show .header-logo a {
	display: block;
}

.header._show .nav-icon {
	padding: 0;
	position: relative;
}

.header._show .nav-icon > div > span {
	background-color: #555555;
}

.header .nav-icon {
	-webkit-transition: padding-top .7s ease 0s;
	transition: padding-top .7s ease 0s;
}

.header-bg {
	background-color: rgba(255, 255, 255, 0.9);
	display: none;
	height: 100%;
	position: absolute;
	width: 100%;
}

.header .inner {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	max-width: initial;
	position: relative;
}

.header-logo a {
	-webkit-animation: active .4s;
	animation: active .4s;
	display: none;
	width: 160px;
}

.nav {
	overflow: auto;
}

.nav-icon {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	height: 18px;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	z-index: 31;
}

.nav-icon > div {
	position: relative;
}

.nav-icon > div > span {
	-webkit-transition: all .3s ease-in-out;
	background: #FFFFFF;
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	transition: all .3s ease-in-out;
	width: 100%;
}

.nav-icon > div > span:nth-of-type(1) {
	top: 0;
}

.nav-icon > div > span:nth-of-type(2) {
	top: 9px;
}

.nav-icon > div > span:nth-of-type(3) {
	top: 18px;
}

.nav-inner {
	-webkit-transition: opacity .7s, visibility .7s;
	height: 100vh;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: opacity .7s, visibility .7s;
	visibility: hidden;
	width: 100%;
	z-index: 30;
}

.nav-logo > a {
	width: 136px;
}

.nav-item a {
	font-family: Courier New, Courier, Arial;
	font-size: 20px;
	letter-spacing: 0.4em;
	padding: 0.2em 0.5em;
}

.nav-item > ul {
	margin-top: 16px;
}

.nav-item > ul > li {
	margin-left: 26px;
	margin-top: 2px;
}

.nav-item > ul > li a {
	font-size: 16px;
}

.nav-item:nth-child(n + 2) {
	margin-top: 42px;
}

.nav-link {
	line-height: 1;
}

.nav-link span {
	display: block;
	font-family: Courier New, Courier, Arial;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.3em;
	margin-bottom: 15px;
}

.nav-link img {
	max-width: 230px;
}

._open {
	overflow-y: hidden;
}

._open .nav-icon > div > span:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	top: 7px;
	transform: rotate(45deg);
}

._open .nav-icon > div > span:nth-of-type(2) {
	left: 50%;
	width: 0;
}

._open .nav-icon > div > span:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	top: 7px;
	transform: rotate(-45deg);
}

._open .nav-inner {
	opacity: 1;
	visibility: visible;
}

.top-tit {
	color: #FFFFFF;
	font-family: Courier New, Courier, Arial;
	letter-spacing: 0.4em;
	text-align: center;
}

.top._contact h1 {
	color: #000000;
}

.error {
	background-color: #EFE4E1;
	height: 100vh;
	position: relative;
}

.error-en {
	color: #000000;
	font-family: Courier New, Courier, Arial;
	font-weight: bold;
	position: absolute;
}

.error-en._lt {
	left: calc(50% - 430px);
	top: 104px;
}

.error-en._lt:before {
	content: 'Y';
	left: -160px;
	position: absolute;
	top: -93px;
}

.error-en._lb {
	bottom: 159px;
	left: calc(50% - 251px);
}

.error-en._lb:before {
	bottom: -45px;
	content: 'P';
	left: -225px;
	position: absolute;
}

.error-en._rb._l {
	bottom: 122px;
	right: calc(50% - 243px);
}

.error-en._rb._l:before {
	bottom: -35px;
	content: 'N';
	position: absolute;
	right: -106px;
}

.error-en._rb._r {
	bottom: 132px;
	right: calc(50% - 441px);
}

.error-en._rb._r:before {
	bottom: -132px;
	content: 'G';
	position: absolute;
	right: -115px;
}

.error-en._rt {
	right: calc(50% - 368px);
	top: 40px;
}

.error-en._rt:before {
	content: 'N';
	position: absolute;
	right: -144px;
	top: -47px;
}

.error-inner {
	-webkit-transform: translate(-50%, -50%);
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
}

.error-logo {
	display: inline-block;
	margin: 0 auto;
	width: 166px;
}

.error-wrap {
	left: 0.6em;
	position: relative;
}

.error-wrap > p {
	color: #FFFFFF;
	font-family: Courier New, Courier, Arial;
	font-weight: bold;
	letter-spacing: 1.2em;
}

.error-wrap > p:nth-child(odd) {
	left: 1em;
	position: relative;
}

.error-wrap > p > span {
	color: #000000;
}

.error-tit > span {
	color: #000000;
	display: block;
	font-family: Courier New, Courier, Arial;
	font-weight: bold;
	letter-spacing: 0.3em;
}

.error-tit > small {
	color: #707070;
	display: block;
	font-size: 14px;
	letter-spacing: 0.15em;
}

.error-btn {
	font-size: 12px;
}

.error-btn a {
	border-bottom: 1px solid;
	letter-spacing: 0.1em;
	line-height: 1;
}

.contact {
	letter-spacing: 0.1em;
}

.contact-item > h2 {
	font-weight: bold;
	letter-spacing: 0.1em;
}

.contact-item:first-child {
	background-color: #EFE4E1;
}

.contact-item:first-child > div > span {
	display: block;
	font-size: 16px;
	letter-spacing: 0.3em;
	line-height: 1.2;
}

.contact-item:nth-child(2) > h2 {
	background-color: #EFE4E1;
	position: relative;
}

.contact-item:nth-child(2) > h2:after {
	-webkit-transform: translateX(-50%);
	border-color: #EFE4E1 transparent transparent transparent;
	border-style: solid;
	border-width: 20px 24.5px 0 24.5px;
	bottom: -20px;
	content: '';
	height: 0;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 0;
}

form {
	margin: 0 auto;
	max-width: 730px;
}

.form-data {
	line-height: 1;
}

.form-data input {
	height: 40px;
}

.form-data._select {
	position: relative;
}

.form-data._select:after {
	border-color: #efe4e1 transparent transparent transparent;
	border-style: solid;
	border-width: 12px 7px 0 7px;
	content: '';
	height: 0;
	position: absolute;
	width: 0;
}

.form-btn {
	text-align: center;
}

.form-btn > * {
	background-color: #555555;
	color: #FFFFFF;
	font-family: Courier New, Courier, Arial;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.3em;
	max-width: 100%;
	width: 424px;
}

.form-btn > * > span {
	display: block;
}

.thanks-tit {
	text-align: center;
}

.thanks-tit > span {
	color: #EFE4E1;
	display: block;
	font-family: Courier New, Courier, Arial;
	font-size: 43px;
	letter-spacing: 0.2em;
	line-height: 1.2;
}

.thanks-tit > small {
	display: block;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.thanks-txt {
	font-size: 14px;
	letter-spacing: 0.1em;
	line-height: 2.142;
}

.thanks-txt > span {
	font-weight: bold;
}

.about-tit {
	font-family: Courier New, Courier, Arial;
	font-weight: bold;
	position: relative;
}

.about-tit:after {
	content: '';
}

.about-item:nth-child(1) .about-tit {
	letter-spacing: 0.3em;
}

.about-item:nth-child(1) .about-img {
	text-align: center;
}

.about-item:nth-child(1) .about-img > img {
	width: 155px;
}

.about-item:nth-child(1) .about-content {
	letter-spacing: 0.3em;
}

.about-item:nth-child(1) .about-content > h4 {
	font-family: Courier New, Courier, Arial;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.3em;
}

.about-item:nth-child(1) .about-txt {
	font-size: 14px;
	letter-spacing: 0.3em;
	line-height: 2.142;
}

.about-item:nth-child(2) .about-tit {
	letter-spacing: 0.4em;
}

.about-item:nth-child(2) .about-def {
	letter-spacing: 0.1em;
}

.about-item:nth-child(2) .about-dtit {
	font-weight: bold;
	width: 65px;
}

.bisiness-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.bisiness-txt > span {
	text-decoration: underline;
}

.bisiness-pic {
	z-index: 1;
}

.bisiness-content {
	z-index: 1;
}

.bisiness-tit {
	font-family: Courier New, Courier, Arial;
	font-weight: bold;
	letter-spacing: 0.3em;
	position: relative;
}

.bisiness-tit:before {
	content: counter(tit, decimal-leading-zero);
	font-weight: 300;
	left: 0;
	line-height: 1;
	position: absolute;
	top: -65px;
}

.bisiness-tit:after {
	background-color: #D0D0D0;
	content: '';
	height: 1px;
	left: 36px;
	position: absolute;
	top: -58px;
	width: 126px;
}

.bisiness-item {
	counter-increment: tit;
}

.bisiness-item._brand .bisiness-content > img {
	width: 274px;
}

.bisiness-item._brand .bisiness-content .link-item a {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-family: Courier New, Courier, Arial;
	letter-spacing: 0.3em;
	padding: 0.3em 0;
}

.bisiness-item._brand .bisiness-content .link-item._site img {
	margin-right: 12px;
	width: 24px;
}

.bisiness-item._brand .bisiness-content .link-item._store {
	margin-top: 0.1em;
}

.bisiness-item._brand .bisiness-content .link-item._store img {
	margin-right: 9px;
	width: 25px;
}

.bisiness-item._brand .bisiness-content .link-item._insta img {
	margin-right: 13px;
	width: 21px;
}

.bisiness-item._brand .bisiness-pic {
	position: relative;
}

.bisiness-item._brand .bisiness-pic:before {
	background-color: #EFE4E1;
	content: '';
	height: 92.33%;
	position: absolute;
	width: 78.461%;
	z-index: -10;
}

.bisiness-item._import .link-btn > * {
	border: 1px solid #D0D0D0;
	font-size: 14px;
	letter-spacing: 0.2em;
	max-width: 100%;
}

.bisiness-item._import .bisiness-box {
	background-color: #EFE4E1;
}

.bisiness-item._import .bisiness-def > div {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.bisiness-item._import .bisiness-def > div:nth-child(n + 2) {
	margin-top: 46px;
}

.bisiness-item._import .bisiness-dtit {
	font-family: Courier New, Courier, Arial;
	font-weight: bold;
	letter-spacing: 0.3em;
}

.bisiness-item._import .bisiness-data > ul li:nth-child(n + 2) {
	margin-top: 0.3em;
}

.bisiness-item._import .bisiness-btn > * {
	background-color: #555555;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: 0.1em;
	line-height: 1.714;
	max-width: 100%;
}

.bisiness-item._import .bisiness-btn > * > span {
	display: block;
}

.bisiness-item._oem .bisiness-btn:nth-child(n + 2) {
	margin-top: 13px;
}

.bisiness-item._oem .bisiness-pic {
	position: relative;
}

.bisiness-item._oem .bisiness-pic:before {
	background-color: #EFE4E1;
	content: '';
	position: absolute;
	z-index: -10;
}

.bisiness-item._oem .link {
	max-width: 595px;
}

.bisiness-item._oem .link-btn > * {
	border: 1px solid #D0D0D0;
	font-size: 14px;
	letter-spacing: 0.2em;
	max-width: 100%;
	text-align: left;
}

.info-inner {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	margin: 0 auto;
}

.info-list {
	border-top: 1px solid #D0D0D0;
}

.info-item {
	border-bottom: 1px solid #D0D0D0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	letter-spacing: 0.1em;
}

.info-item > time {
	white-space: nowrap;
}

.info-item > p {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
}

.info-btn {
	text-align: center;
}

.info-btn > * {
	border: 1px solid #D0D0D0;
	font-size: 14px;
	letter-spacing: 0.2em;
	max-width: 100%;
}

.modal-box {
	-webkit-animation: active .4s;
	animation: active .4s;
	background: #FFFFFF;
	bottom: 0;
	display: none;
	height: 100vh;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.modal-box._show {
	display: block;
}

.modal-inner {
	height: 100%;
}

.modal-tit {
	font-family: Courier New, Courier, Arial;
	font-size: 20px;
	letter-spacing: 0.4em;
	text-align: center;
}

.modal-item {
	display: grid;
	grid-template-rows: auto  1fr;
}

.modal-item .modal-label {
	font-family: Courier New, Courier, Arial;
	font-weight: bold;
	letter-spacing: 0.3em;
	margin-right: 15px;
}

.modal-item > h5 {
	grid-area: 1 / 2 / 2 / 3;
	position: relative;
}

.modal-item > h5:before {
	-webkit-transform: translateY(-50%);
	background-color: #D0D0D0;
	content: '';
	height: 1px;
	left: -79px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 64px;
}

.modal-item .modal-txt {
	grid-area: 2 / 1 / 3 / 3;
	letter-spacing: 0.2em;
	line-height: 1.714;
	margin-top: 12px;
}

.modal-icon {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	height: 18px;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	z-index: 101;
}

.modal-icon > div {
	position: relative;
}

.modal-icon > div > span {
	-webkit-transition: all .3s ease-in-out;
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	transition: all .3s ease-in-out;
	width: 100%;
}

.modal-icon > div > span:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	top: 7px;
	transform: rotate(45deg);
}

.modal-icon > div > span:nth-of-type(2) {
	-webkit-transform: rotate(-45deg);
	top: 7px;
	transform: rotate(-45deg);
}

.mv {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}

.mv-head {
	background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(rgba(25, 25, 25, 0.69)));
	background: -webkit-linear-gradient(bottom, transparent 0%, rgba(25, 25, 25, 0.69) 100%);
	background: linear-gradient(to top, transparent 0%, rgba(25, 25, 25, 0.69) 100%);
	color: #FFFFFF;
	position: relative;
}

.mv-tit {
	color: #FFFFFF;
}

.mv-tit > span {
	display: block;
	font-family: Courier New, Courier, Arial;
	font-weight: bold;
	letter-spacing: 0.049em;
}

.mv-tit > small {
	font-size: 15px;
	letter-spacing: 0.3em;
}

.scroll {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	bottom: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 38px;
}

.scroll-txt {
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	color: #FFFFFF;
	font-family: Courier New, Courier, Arial;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.4em;
	writing-mode: vertical-rl;
}

.scroll-bar {
	background-color: #000000;
	height: 108px;
	margin-top: 10px;
	position: relative;
	width: 1px;
}

.scroll-bar:after {
	-webkit-animation: bar 3.5s infinite;
	animation: bar 3.5s infinite;
	background-color: #EFE4E1;
	content: '';
	height: 38px;
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
}

.import-nav {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	margin-top: 36px;
}

.import-btn._itary a {
	background: url(../img/import/btn_itary.png) center/cover no-repeat;
}

.import-btn._spain a {
	background: url(../img/import/btn_spain.png) center/cover no-repeat;
}

.import-btn a {
	font-family: Courier New, Courier, Arial;
	font-weight: bold;
	letter-spacing: 0.3em;
	text-align: center;
}

.import-tit {
	font-family: Courier New, Courier, Arial;
	letter-spacing: 0.36em;
}

.import-tit > span {
	font-weight: bold;
}

.import-dtit {
	font-family: Courier New, Courier, Arial;
	font-weight: bold;
	letter-spacing: 0.3em;
}

.import-data {
	font-size: 14px;
	letter-spacing: 0.1em;
}

.info-dtit {
	border-top: 2px solid #555555;
	font-family: Courier New, Courier, Arial;
	font-weight: bold;
	letter-spacing: 0.4em;
	text-align: center;
}

@media screen and (min-width: 768px) {

body {
	font-size: 16px;
	line-height: 1.875;
}

.inner {
	padding: 0 50px;
}

.sec-tit {
	font-size: 25px;
}

.sec-img {
	height: 400px;
}

.sec-img + .inner {
	margin-top: 90px;
}

._sp {
	display: none;
}

input,
select {
	margin-top: 22px;
}

select {
	padding: 0.2em 1.2em 1.6em 1.2em;
}

textarea {
	height: 417px;
}

.footer {
	margin-top: 140px;
	padding: 43px 0;
}

.footer-btn {
	margin-bottom: 92px;
	margin-top: 50px;
}

.footer-btn > * {
	white-space: nowrap;
}

.footer-btn > * {
	padding-left: 30px;
	padding-right: 30px;
}

.footer-copy {
	font-size: 14px;
	margin-top: 28px;
}

.header .inner {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	height: 87px;
	justify-content: space-between;
	padding: 0 50px;
}

.nav-icon {
	padding: 50px 50px 0 0;
}

.nav-inner {
	background-color: #FFFFFF;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.nav-logo {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 36.6%;
	-ms-flex: 0 1 36.6%;
	background: url(../img/nav/logo_bg.jpg) center/cover no-repeat;
	flex: 0 1 36.6%;
	position: relative;
	position: relative;
}

.nav-logo::before {
	background: rgba(0, 0, 0, 0.57);
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.nav-logo > a {
	-webkit-transform: translate(-50%, -50%);
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.nav-list {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	flex-grow: 1;
	margin-left: 7%;
	padding: 0 50px;
}

.nav-link {
	bottom: 50px;
	position: absolute;
	right: 50px;
}

._open .nav-icon > div > span {
	background-color: #555555;
}

.top {
	height: 385px;
}

.top-tit {
	font-size: 25px;
	line-height: 472px;
}

.top._info {
	background: url(../img/info/top_bg_pc.jpg) center/cover no-repeat;
}

.top._import {
	background: url(../img/import/top_bg_pc.jpg) center/cover no-repeat;
}

.top._contact {
	background: url(../img/contact/top_bg_pc.jpg) center/cover no-repeat;
}

.error-wrap {
	margin: 72px auto 69px;
}

.error-wrap > p:nth-child(n + 2) {
	margin-top: 7px;
}

.error-tit > small {
	line-height: 1.25;
}

.error-btn {
	margin-top: 65px;
}

.contact {
	font-size: 14px;
	line-height: 1.875;
}

.contact > .inner {
	max-width: 820px;
}

.contact-txt {
	line-height: 1;
	margin-top: 90px;
	text-align: center;
}

.contact-list {
	margin-top: 90px;
}

.contact-item:first-child {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 21px 40px;
}

.contact-item:first-child > div {
	margin-left: auto;
	text-align: right;
}

.contact-item:nth-child(2) {
	margin-top: 34px;
}

.contact-item:nth-child(2) > h2 {
	padding: 30px 40px;
}

.form-def {
	margin: 85px 0 64px;
}

.form-def > div:nth-child(n + 2) {
	margin-top: 62px;
}

.form-data {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.form-data._select:after {
	right: 10px;
	top: 31px;
}

.form-btn {
	margin-top: 64px;
}

.form-btn > * {
	height: 80px;
	line-height: 80px;
}

.form-btn > * {
	white-space: nowrap;
}

.thanks {
	margin-top: 90px;
}

.thanks-tit > small {
	font-size: 14px;
}

.thanks-txt {
	margin: 80px auto 0;
	max-width: 712px;
}

.about {
	margin-top: 212px;
}

.about > .sec-img {
	background-image: url(../img/about_bg.jpg);
}

.about .sec-tit {
	margin-bottom: 80px;
}

.about-tit {
	display: inline-block;
	padding-left: 40px;
}

.about-tit:after {
	-webkit-transform: translateY(-50%);
	background-color: #555555;
	height: 1px;
	right: -136px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 126px;
}

.about-wrap {
	max-width: 936px;
}

.about-item:nth-child(n + 2) {
	margin-top: 122px;
}

.about-item:nth-child(1) .about-wrap {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
	margin-top: 58px;
}

.about-item:nth-child(1) .about-img {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 23.1%;
	-ms-flex: 0 0 23.1%;
	flex: 0 0 23.1%;
	margin-bottom: 27px;
}

.about-item:nth-child(1) .about-content {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin-left: 8.6%;
}

.about-item:nth-child(1) .about-txt {
	margin-top: 10px;
}

.about-item:nth-child(2) .about-wrap {
	margin: 78px auto 0;
}

.about-item:nth-child(2) .about-def {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 14px;
	justify-content: space-between;
	line-height: 2.142;
}

.about-item:nth-child(2) .about-def > div:first-child .about-data {
	margin-left: 25px;
}

.about-item:nth-child(2) .about-def > div:nth-child(2) {
	padding-left: 20px;
}

.about-item:nth-child(2) .about-def > div:nth-child(2) .about-data {
	margin-left: 44px;
}

.about-item:nth-child(2) .about-def > div > div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.about-item:nth-child(2) .about-def > div > div:nth-child(n + 2) {
	margin-top: 2.2em;
}

.bisiness {
	margin-top: 140px;
}

.bisiness > .sec-img {
	background-image: url(../img/bisiness_bg.jpg);
}

.bisiness .sec-tit {
	margin-bottom: 35px;
}

.bisiness-wrap {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.bisiness-txt {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 51%;
	-ms-flex: 0 0 51%;
	flex: 0 0 51%;
	padding: 0 0 0 4.92%;
}

.bisiness-img {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 49%;
	-ms-flex: 0 0 49%;
	flex: 0 0 49%;
	margin-left: 5.25%;
	padding-right: 7.29%;
}

.bisiness-pic {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 520px;
}

.bisiness-pic img {
	-o-object-fit: cover;
	height: 600px;
	object-fit: cover;
}

.bisiness-content {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.bisiness-content > p {
	margin: 45px 0;
}

.bisiness-tit {
	line-height: 1.3;
}

.bisiness-item > .inner {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	max-width: 1266px;
}

.bisiness-item:nth-child(odd) .link {
	text-align: right;
}

.bisiness-item:nth-child(odd) .link-list {
	display: inline-block;
}

.bisiness-item:nth-child(odd) .bisiness-content {
	margin-left: 5.4%;
}

.bisiness-item:nth-child(even) > .inner {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	flex-direction: row-reverse;
	justify-content: flex-start;
}

.bisiness-item:nth-child(even) .bisiness-content {
	margin-right: 8%;
}

.bisiness-item._brand {
	padding-top: 76px;
}

.bisiness-item._brand .bisiness-content {
	padding-top: 80px;
}

.bisiness-item._brand .bisiness-content > p {
	max-width: 587px;
}

.bisiness-item._brand .bisiness-content .link {
	max-width: 587px;
	padding: 30px 33px 0 0;
}

.bisiness-item._brand .bisiness-pic:before {
	bottom: -67px;
	left: -50px;
}

.bisiness-item._import {
	margin-top: 120px;
	padding-top: 87px;
}

.bisiness-item._import .bisiness-content {
	max-width: 518px;
	padding-top: 30px;
}

.bisiness-item._import .link-btn > * {
	white-space: nowrap;
}

.bisiness-item._import .link-btn > * {
	height: 85px;
	line-height: 85px;
	padding-left: 30px;
	padding-right: 30px;
	width: 366px;
}

.bisiness-item._import .bisiness-box {
	margin-left: auto;
	margin-top: -37px;
	max-width: calc(100% - (50% - (1260px / 2)));
	padding-right: calc(50% - (1260px / 2) - 105px);
	position: relative;
	width: calc(100% - 7.686%);
}

.bisiness-item._import .bisiness-box > .inner {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	align-items: flex-end;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	max-width: 1260px;
}

.bisiness-item._import .bisiness-def {
	padding: 83px 50px 50px 0;
}

.bisiness-item._import .bisiness-data {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 14px;
	margin-left: 44px;
}

.bisiness-item._import .bisiness-data > ul:nth-child(n + 2) {
	margin-left: 39px;
}

.bisiness-item._import .bisiness-data > ul:first-child {
	width: 173px;
}

.bisiness-item._import .bisiness-data > ul:nth-child(2) {
	width: 154px;
}

.bisiness-item._import .bisiness-btn {
	margin: 0 83px 50px auto;
}

.bisiness-item._import .bisiness-btn > * {
	padding: 18px 34px;
	width: 276px;
}

.bisiness-item._import .bisiness-btn > * {
	white-space: nowrap;
}

.bisiness-item._oem {
	margin-bottom: 144px;
	margin-top: 53px;
	padding-top: 87px;
}

.bisiness-item._oem .bisiness-content {
	padding-top: 74px;
}

.bisiness-item._oem .bisiness-content > p {
	max-width: 522px;
}

.bisiness-item._oem .bisiness-pic:before {
	bottom: -72px;
	height: 92.333%;
	left: -50px;
	width: 105.961%;
}

.bisiness-item._oem .link-item:nth-child(n + 2) {
	margin-top: 13px;
}

.bisiness-item._oem .link-btn > * {
	white-space: nowrap;
}

.bisiness-item._oem .link-btn > * {
	height: 85px;
	line-height: 85px;
	padding-left: 30px;
	padding-right: 30px;
	width: 366px;
}

.info {
	margin-top: 90px;
}

.info-inner {
	max-width: 870px;
	padding: 0 50px;
}

.info .sec-tit {
	margin-bottom: 46px;
}

.info-item {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 93px;
	-ms-flex: 0 0 93px;
	flex: 0 0 93px;
	font-size: 14px;
	line-height: 2.1428;
	padding: 43px 30px;
}

.info-item > p {
	margin-left: 10.35%;
}

.info-btn > * {
	white-space: nowrap;
}

.info-btn > * {
	height: 85px;
	line-height: 85px;
	padding-left: 30px;
	padding-right: 30px;
	width: 366px;
}

.info-btn {
	margin-top: 47px;
}

.modal-inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.modal-img {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 25.475%;
	-ms-flex: 0 0 25.475%;
	background: url(../img/modal_img.jpg) center/cover no-repeat;
	flex: 0 0 25.475%;
}

.modal-content {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex: 0 1 100%;
	padding: 0 30px;
}

.modal-tit {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 26.38%;
	-ms-flex: 0 0 26.38%;
	flex: 0 0 26.38%;
	white-space: nowrap;
}

.modal-list {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
	margin-left: 5.325%;
	margin-top: 11px;
}

.modal-item {
	grid-template-columns: 170px 1fr;
}

.modal-item:nth-child(n + 2) {
	margin-top: 30px;
}

.modal-item .modal-label {
	grid-area: 1 / 1 / 2 / 2;
}

.modal-item .modal-txt {
	font-size: 14px;
	max-width: 330px;
}

.modal-icon {
	padding: 50px 50px 0 0;
}

.modal-icon > div > span {
	background: #555555;
}

.mv {
	background: url(../img/mv_bg.jpg) center/cover no-repeat;
	height: 100vh;
}

.mv-head {
	height: 38.6718%;
	padding: 50px 50px 0;
}

.mv-logo img {
	width: 149.69px;
}

.mv > .inner {
	height: 100%;
	max-width: 1042px;
	position: relative;
	width: 100%;
}

.mv-tit {
	bottom: 98px;
	left: 50px;
	position: absolute;
}

.mv-tit > span {
	font-size: 25px;
	line-height: 1.5;
}

.import-btn:nth-child(n + 2) {
	margin-left: 177px;
}

.import-btn a {
	height: 174px;
	line-height: 150px;
	width: 188px;
}

.import-list {
	margin-top: 18px;
}

.import-item:nth-child(n + 2) {
	margin-top: 130px;
}

.import-item._itary .import-img {
	background: url(../img/import/img_itary.jpg) center/cover no-repeat;
}

.import-item._spain .import-img {
	background: url(../img/import/img_spain.jpg) center/cover no-repeat;
}

.import-img {
	padding-top: 27.090%;
}

.import-tit {
	font-size: 22px;
	margin-top: 65px;
	padding: 0 0.8em;
}

.import-def {
	margin-top: 67px;
	padding-left: 1em;
}

.import-def > div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.import-def > div:nth-child(n + 2) {
	margin-top: 44px;
}

.import-dtit {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 200px;
	-ms-flex: 0 0 200px;
	flex: 0 0 200px;
}

.import-data {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	line-height: 2.142;
	margin-left: 42px;
}

.info-def {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.info-def:nth-child(n + 2) {
	margin-top: 90px;
}

.info-dtit {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 169px;
	-ms-flex: 0 0 169px;
	flex: 0 0 169px;
	padding-top: 43px;
}

.info-data {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	border-top: 2px solid #555555;
	flex-grow: 1;
	margin-left: 61px;
}

}

@media screen and (max-width: 767px) {

body {
	font-size: 14px;
	line-height: 2.142;
}

.inner {
	padding: 0 30px;
}

.sec-tit {
	font-size: 23px;
}

.sec-img {
	height: 186px;
}

.sec-img + .inner {
	margin-top: 55px;
}

._pc {
	display: none;
}

input,
select {
	margin-top: 15px;
}

select {
	padding: 0.7em 0 1.1em;
}

textarea {
	height: 315px;
}

.footer {
	margin-top: 90px;
	padding: 37px 0 33px;
}

.footer-btn {
	margin-bottom: 64px;
	margin-top: 28px;
}

.footer-btn > * {
	width: 375px;
}

.footer-copy {
	line-height: 1.714;
	margin-top: 30px;
}

.header .inner {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	height: 74px;
	justify-content: space-between;
	padding: 0 24px 0 21px;
}

.nav-icon {
	padding: 42px 30px 0 0;
}

.nav-inner {
	background: url(../img/nav/bg_sp.jpg) center/cover no-repeat;
	overflow: auto;
	padding: 51px 35px 87px;
}

.nav-logo {
	margin-top: 36px;
	text-align: center;
}

.nav-list {
	margin-top: 43px;
}

.nav-item a {
	color: #FFFFFF;
	line-height: 1.875;
}

.nav-link {
	margin-top: 46px;
}

.nav-link a {
	color: #FFFFFF;
	padding: 0.2em 10px;
}

._open .nav-icon > div > span {
	background-color: #999;
}

.top {
	height: 234px;
}

.top-tit {
	font-size: 23px;
	line-height: 308px;
}

.top._info {
	background: url(../img/info/top_bg_sp.jpg) center/cover no-repeat;
}

.top._import {
	background: url(../img/import/top_bg_sp.jpg) center/cover no-repeat;
}

.top._contact {
	background: url(../img/contact/top_bg_sp.jpg) center/cover no-repeat;
}

.error-en {
	display: none;
}

.error-logo {
	margin: 0 30px;
}

.error-wrap {
	margin: 75px 0 68px;
}

.error-wrap > p {
	font-size: 16px;
}

.error-tit > span {
	font-size: 16px;
}

.error-tit > small {
	line-height: 1.4;
}

.error-btn {
	margin-top: 63px;
}

.contact-txt {
	line-height: 1.714;
	margin-top: 51px;
	padding: 0 15px;
}

.contact-list {
	margin-top: 25px;
}

.contact-item:first-child {
	padding: 22px 15px 20px;
	text-align: center;
}

.contact-item:first-child > div {
	margin-top: 20px;
}

.contact-item:nth-child(2) {
	margin-top: 30px;
}

.contact-item:nth-child(2) > h2 {
	padding: 24px 15px;
	text-align: center;
}

.form-def {
	margin: 57px 0 40px;
}

.form-def > div:nth-child(n + 2) {
	margin-top: 52px;
}

.form-dtit {
	font-size: 12px;
	line-height: 1;
}

.form-data {
	font-size: 12px;
}

.form-data._select:after {
	right: 3px;
	top: 26px;
}

.form-btn {
	margin-top: 40px;
}

.form-btn > * {
	padding-bottom: 22px;
	padding-top: 22px;
}

.form-btn > * {
	width: 375px;
}

.form-btn > * {
	letter-spacing: 0.1em;
	padding: 17px 15px;
}

.thanks {
	margin-top: 46px;
}

.thanks-txt {
	margin-top: 42px;
	padding: 0 13px;
}

.about {
	margin-top: 90px;
}

.about > .sec-img {
	background-image: url(../img/about_bg.jpg);
}

.about .sec-tit {
	margin-bottom: 48px;
}

.about-tit {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	display: flex;
	font-size: 16px;
	height: 18px;
	line-height: 18px;
	position: relative;
}

.about-tit:after {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	border-top: 1px solid #555555;
	content: '';
	flex-grow: 1;
	margin-left: 11px;
}

.about-item:nth-child(n + 2) {
	margin-top: 80px;
}

.about-item:nth-child(1) .about-wrap {
	margin-top: 59px;
}

.about-item:nth-child(1) .about-img {
	margin-bottom: 57px;
}

.about-item:nth-child(1) .about-content {
	padding: 0 15px;
}

.about-item:nth-child(1) .about-content > p {
	letter-spacing: 0.2em;
	margin-top: 8px;
}

.about-item:nth-child(1) .about-txt {
	margin-top: 27px;
}

.about-item:nth-child(2) .about-wrap {
	margin: 46px 15px;
}

.about-item:nth-child(2) .about-def {
	line-height: 1.785;
}

.about-item:nth-child(2) .about-def > div:nth-child(n + 2) {
	margin-top: 17px;
}

.about-item:nth-child(2) .about-def > div > div:nth-child(n + 2) {
	margin-top: 17px;
}

.bisiness {
	margin-top: 91px;
}

.bisiness > .sec-img {
	background-image: url(../img/bisiness_bg_sp.jpg);
}

.bisiness .sec-tit {
	margin-bottom: 37px;
}

.bisiness-wrap {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
	padding: 0 15px;
}

.bisiness-txt {
	margin-top: 22px;
}

.bisiness-img {
	left: -0.58px;
	position: relative;
}

.bisiness-tit {
	font-size: 16px;
	line-height: 1.4;
}

.bisiness-item._brand {
	padding-top: 40px;
}

.bisiness-item._brand .bisiness-content {
	padding: 162px 15px 0;
}

.bisiness-item._brand .bisiness-content > p {
	margin: 43px 0 21px;
}

.bisiness-item._brand .bisiness-content .link-item a {
	font-size: 16px;
	line-height: 1.875;
}

.bisiness-item._brand .bisiness-pic:before {
	bottom: -41px;
	left: -30px;
}

.bisiness-item._import {
	margin-top: 6px;
	padding-top: 74px;
}

.bisiness-item._import .bisiness-pic {
	position: relative;
}

.bisiness-item._import .bisiness-pic:before {
	background-color: #EFE4E1;
	content: '';
	height: 92.307%;
	position: absolute;
	width: 78.412%;
	z-index: -10;
}

.bisiness-item._import .bisiness-content {
	padding-top: 114px;
}

.bisiness-item._import .bisiness-content .bisiness-tit {
	margin: 0 15px;
}

.bisiness-item._import .bisiness-content > p {
	margin: 39px 0 31px;
	padding: 0 15px;
}

.bisiness-item._import .link-btn > * {
	letter-spacing: 0.07em;
	text-align: center;
}

.bisiness-item._import .link-btn > * {
	width: 375px;
}

.bisiness-item._import .link-btn > * {
	padding: 16px 20px;
}

.bisiness-item._import .bisiness-box {
	margin-top: 51px;
}

.bisiness-item._import .bisiness-box > .inner {
	padding-bottom: 41px;
	padding-top: 41px;
}

.bisiness-item._import .bisiness-def {
	width: 100%;
}

.bisiness-item._import .bisiness-dtit {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 33.063%;
	-ms-flex: 0 0 33.063%;
	flex: 0 0 33.063%;
	font-size: 16px;
	text-align: center;
}

.bisiness-item._import .bisiness-data {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
	line-height: 1.875;
	margin-left: 9.793%;
}

.bisiness-item._import .bisiness-data > ul:nth-child(n + 2) {
	margin-top: 0.2em;
}

.bisiness-item._import .bisiness-btn {
	margin: 32px auto 0;
}

.bisiness-item._import .bisiness-btn > * {
	width: 375px;
}

.bisiness-item._import .bisiness-btn > * {
	letter-spacing: 0.1em;
	padding: 17px 15px;
}

.bisiness-item._oem {
	margin-top: 16px;
	padding-top: 74px;
}

.bisiness-item._oem .bisiness-content {
	padding-top: 162px;
}

.bisiness-item._oem .bisiness-content .bisiness-tit {
	margin: 0 15px;
}

.bisiness-item._oem .bisiness-content > p {
	margin: 39px 0 31px;
	padding: 0 15px;
}

.bisiness-item._oem .bisiness-pic:before {
	bottom: -44px;
	height: 92.541%;
	left: -30px;
	width: 100.952%;
}

.bisiness-item._oem .link-item:nth-child(n + 2) {
	margin-top: 17px;
}

.bisiness-item._oem .link-item:nth-child(n + 2) .link-btn a {
	padding: 16px 16px 16px 20px;
}

.bisiness-item._oem .link-btn > * {
	width: 375px;
}

.bisiness-item._oem .link-btn > * {
	padding: 16px 20px;
}

.info {
	margin-top: 55px;
}

.info-inner {
	padding: 0 30px;
}

.info .sec-tit {
	margin-bottom: 24px;
}

.info-item {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 13px;
	padding: 18px 15px;
}

.info-item > p {
	letter-spacing: 0.05em;
	line-height: 1.846;
	margin-top: 10px;
}

.info-btn > * {
	width: 375px;
}

.info-btn > * {
	padding: 16px 20px;
}

.info-btn {
	margin-top: 26px;
}

.modal-img {
	background: url(../img/modal_img_sp.jpg) center/cover no-repeat;
	height: 308px;
}

.modal-content {
	padding: 23px 45px 67px;
}

.modal-list {
	margin-top: 34px;
}

.modal-item {
	grid-template-columns: 170px 1fr;
}

.modal-item:nth-child(n + 2) {
	margin-top: 26px;
}

.modal-item .modal-label {
	font-size: 16px;
}

.modal-item > h5 {
	font-size: 16px;
	letter-spacing: 0.2em;
}

.modal-icon {
	padding: 42px 30px 0 0;
}

.modal-icon > div > span {
	background: #FFFFFF;
}

.mv {
	background: url(../img/mv_bg_sp.jpg) center/cover no-repeat;
	height: 500px;
}

.mv-head {
	height: 92%;
	padding: 42px 30px 0;
}

.mv-logo {
	padding-top: 118px;
	text-align: center;
}

.mv-logo img {
	width: 170.86px;
}

.mv > .inner {
	padding: 0 30px 0 36px;
}

.mv-tit {
	padding-bottom: 52px;
}

.mv-tit > span {
	font-size: 24px;
	line-height: 1.6;
}

.mv-tit > small {
	padding-left: 23px;
}

.import-btn {
	width: 90%;
}

.import-btn:nth-child(n + 2) {
	margin-left: 15px;
}

.import-btn a {
	font-size: 13px;
	height: 142px;
	line-height: 122px;
	width: 153px;
}

.import-list {
	margin-top: 24px;
}

.import-item:nth-child(n + 2) {
	margin-top: 82px;
}

.import-item._itary .import-img {
	background: url(../img/import/img_itary_sp.jpg) center/cover no-repeat;
}

.import-item._spain .import-img {
	background: url(../img/import/img_spain_sp.jpg) center/cover no-repeat;
}

.import-img {
	padding-top: 57.142%;
}

.import-tit {
	font-size: 16px;
	margin-top: 49px;
	padding-left: 15px;
}

.import-def {
	margin-top: 39px;
	padding: 0 15px;
}

.import-def > div:nth-child(n + 2) {
	margin-top: 42px;
}

.import-dtit {
	font-size: 16px;
}

.import-data {
	line-height: 1.714;
	margin-top: 7px;
}

.info-def:nth-child(n + 2) {
	margin-top: 55px;
}

.info-dtit {
	border-bottom: 2px solid #555555;
	padding: 23px 0;
}

}

@media screen and (max-width: 767px) and (max-width: 767px) {

.bisiness-item._import .bisiness-pic:before {
	right: -30px;
	top: -23px;
}

}

@-webkit-keyframes active {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@keyframes active {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@-webkit-keyframes bar {

0% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

50%,100% {
	-webkit-transform: translateY(70px);
	transform: translateY(70px);
}

}

@keyframes bar {

0% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

50%,100% {
	-webkit-transform: translateY(70px);
	transform: translateY(70px);
}

}

